/* text input characteristics */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Submit button characteristics  */
input[type=submit] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*Submit button color when cursor is hovering over it.  */
input[type=submit]:hover {
    background-color: #45a049;
}
/* border arround document */
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}